html,
body {
	background-color: black;
	color: #222222;
	font-family: 'Nunito Sans', sans-serif;
}

.jk-max {
	background-color: #EFEFEF;
	margin: 0 auto;
	max-width: 1920px;
}

.jk-vid {
	background-color: black;
	max-height:400px;
	min-height: 400px;
	overflow:hidden;
	position:relative;
}
.jk-vid video {
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.jk-vid-sig {
	color: white;
	font-size: 1.25rem;
	left:50%;
	position:absolute;
	text-align: center;
	top:100;
	transform:translateX(-50%);
}

.jk-tagline {
	margin-top: -1.25rem;
}

.jk-limit {
	margin: 0 auto;
	max-width: 1200px;
}

h1,h2,h3,h4,h5,h6,
p,div,span,a {
	font-family: 'Nunito Sans', sans-serif;
}

h2 {
	color: #444444;
}

h5 {
	color: #636363;
}

.jk-dots {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

section {
	border-top: 1px solid #E0E0E0;
	margin-top: .625rem;
	padding-top: 1.5rem;
}

img {
	margin-bottom: 0.625rem;
}

.top-bar {
	background-color: white;
	border-bottom: 1px solid #E0E0E0;
}

.jk-signature {
	height: 2.5rem;
	padding: 0 0 0 1rem;
}

.top-bar .menu {
	background-color: white;
}

.top-bar-right {
	padding-right: 1rem;
}

li {
	text-align: center;
}

li a {
	color: black;
}

.jk-my-photo {
	border-radius: 50%;
	border: 2px solid white;
	height: 300px;
}

.jk-my-photo-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background: url(../img/websiteHEADER.png);
	padding: 1.125rem 0;
}

/* .jk-main-content {
	padding: 0 0.625rem;
} */


.responsive-embed.widescreen,
.jk-modal-content {
	margin: 2rem 0;
}

a img:not(.jk-icon):not(.jk-signature) {
	border: 1px solid #E0E0E0;
}
a img:not(.jk-icon):not(.jk-signature):hover {
	border: 1px solid #E0E0E0;
	opacity: 0.85;
}

.jk-description {
	margin-bottom: 1.375rem;
}

.slick-slide {
	outline: none;
}

.js-slick div {
	padding: 0 1.125rem;
}

.slick-prev:before,
.slick-next:before {
	color: #222222;
}

.jk-icon {
	border: none;
	height: 1.5rem;
}

.jk-copyright {
	font-size: 0.625rem;
}

@media screen and (min-width: 40em) {
	.jk-icon {
		height: 2rem;
	}

	.jk-my-photo {
		height: auto;
	}

	.jk-description {
		margin-bottom: 1.125rem;
	}
}
